---
import { SITE } from "@config";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Layout from "./Layout.astro";
import Main from "./Main.astro";
---

<Layout title={`About | ${SITE.title}`}>
  <Header activeNav="about" />
  <Main pageTitle="About">
    <div class="about-content-wrapper">
      <slot />
    </div>
  </Main>
  <Footer />
</Layout>

<style>
  .about-content-wrapper {
    @apply mx-auto my-12 max-w-2xl px-4 sm:px-6;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 1.15rem;
    line-height: 1.8;
  }
</style>
